/* You can add global styles to this file, and also import other style files */
body{
	margin: 0;
	font-family: 'Lato', 'Times New Roman', serif;
}
h1,
h2,
h3,
h4,
h5,
h6{
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.container{
	padding: 0 10%;
}
